.accordion-table {
  display: table;
  width: 100%;

  .navigation-row:first-child {
    div {
      border-top: 1px solid $border;
    }
  }

  .navigation-row {
    display: table-row;

    &:hover {
      cursor: pointer;
      cursor: hand;
    }

    > div {
      display: table-cell;
    }

    > div:first-child {
      padding: rem-calc(10);
      border-left: 1px solid $border;
      border-bottom: 1px solid $border;
      .arrow-down {
        @include css-triangle(rem-calc(6), $black, 'down');
      }

      .arrow-right {
        @include css-triangle(rem-calc(6), $black, 'right');
      }
    }

    > div:last-child {
      width: 100%;
      border-left: 1px solid $border;
      border-right: 1px solid $border;
      border-bottom: 1px solid $border;
      vertical-align: middle;
      padding-left: rem-calc(10);
    }
  }

  .content-row {

    > div {
      display: table-cell;
    }

    > div:first-child {
      border-left: 1px solid $border;
    }

    > div:last-child {
      border-left: 1px solid $border;
      border-right: 1px solid $border;
      padding-left: rem-calc(10);
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
    }
  }

  .content-row:last-child {
    > div {
      border-bottom: 1px solid $border;
    }
  }
}

.accordion-table > .content-row {
  @include accordion-content;

  > div:last-child {

    ul {
      list-style: none;
    }

    li {
      font-weight: bold;
    }

    li li {
      font-weight: normal;
    }

    > ul {
      margin-left: 0;
    }

  }

}

/* TODO - move to record-metadata file */
.accordion-table.record-metadata {
  border-bottom: 1px solid $border;

  .content-row {
    background-color: $row-background;

    > div:first-child {

      border-left: 1px solid $border;
    }

    > div:last-child {
      background-color: $row-background;

      border-left: 1px solid $border;
      border-right: 1px solid $border;
      padding-left: rem-calc(40);
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
    }
  }

  .navigation-row {

    > div:first-child {
      background-color: $primary-color;
      border-left: 1px solid $border;


      .arrow-down {
        margin: rem-calc(20);
        @include css-triangle(rem-calc(10), $white, 'down');
      }

      .arrow-right {
        margin: rem-calc(20);
        @include css-triangle(rem-calc(10), $white, 'right');
      }
    }

    > div:last-child {
      width: 100%;
      background-color: $row-background;
      border-left: 1px solid $border;
      border-right: 1px solid $border;
      vertical-align: middle;
      padding-left: rem-calc(20);
    }
  }
}

/* TODO - move to sidebar file */
.accordion-table.sidebar-tree {
  border-bottom: 1px solid $border;

  > div {
    background-color: $white;
  }

  .navigation-row {
    border-top: 1px solid $border;

    &:last-child {
      border-top: 0px;
    }

    > div:first-child {
      border-top: 1px solid $border;
      padding: rem-calc(10);
      .arrow-down {
        @include css-triangle(rem-calc(6), $black, 'down');
      }

      .arrow-right {
        @include css-triangle(rem-calc(6), $black, 'right');
      }
    }

    > div:last-child {
      border-top: 1px solid $border;
      padding-top: 0;
      font-size: 0.8rem;
      valign: middle;

      i.left {
        display: block;
        float: left;
        height: 100%;
        margin-top: rem-calc(2);
        color: $accent-color;
      }

      .identifier {
        padding: 0;
        color: $accent-color;
        font-weight: bold;
      }
    }
  }

  .content-row {

    > div:last-child {
      color: $container-color;
      /* border-top: 1px solid $grey; */
      padding-top: 0;
      font-size: 0.8rem;
      valign: middle;

      i.left {
        float: left;
        margin-top: rem-calc(2);
      }
    }
  }

}
